ARKESEL_API_KEY=
CF_ACCOUNT_ID=
CF_API_TOKEN=
CREATOR_EMAIL=
CREATOR_PASSWORD=
CREATOR_USERNAME=
FIREBASE_API_KEY=
JWT_SECRET=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
RESEND_API_KEY=
SEND_EMAIL_HOOK_SECRET=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_ACCESS_TOKEN=
SUPABASE_ANON_KEY=
SUPABASE_DB_URL=
SUPABASE_JWKS_URL=
SUPABASE_JWT_SECRET=
SUPABASE_PROJECT_REF=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
database=
host=
port=
user=